---
import ServiceSection from "@/components/ServiceSection.astro";
import Desk from "@/assets/desk.svg";
import Taller from "@/assets/random/tallerimg.svg";
import ConfenceIcon from "@/assets/random/conference.svg";

import CONFERENCE from "@/data/conferencias.json";
import GROUPS from "@/data/groups.json";

const TRENDS = [...CONFERENCE, ...GROUPS];
---

<ServiceSection>
  <h2 class="font-semibold">Mis eventos inscritos</h2>
  <article class="flex items-center gap-x-4">
    <Desk />
    <p>¡Empieza a inscribirte en tu primer Grupo de Estudio!</p>
  </article>
  <h3 class="font-semibold py-6">Grupos Destacados</h3>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      TRENDS.map((trend) => (
        <a
          href={trend.days ? `detalle/${trend.id}` : `conferencias/${trend.id}`}
          class="flex flex-col gap-x-4 bg-white rounded-md shadow-md hover:bg-blue-100/60"
        >
          <header class="border-b-1 border-gray-200 p-3 uppercase flex justify-between items-center">
            <h3 class="text-sm font-semibold">{trend.title}</h3>
            <span class="px-3 py-1 rounded-2xl bg-yellow-200/80">⭐</span>
          </header>
          <div class="flex items-center gap-x-2">
            <span class="grid place-content-center w-24 h-full border-r-1 border-gray-200">
              {trend.days ? <Taller /> : <ConfenceIcon />}
            </span>
            <div class="text-xs py-3">
              <span>
                <strong>Inicia: </strong>
                {trend.date}
              </span>
              {trend.days && (
                <ul class="flex flex-wrap gap-1 py-2">
                  {trend.days.map((day) => (
                    <li class="border rounded-2xl px-2 py-1">
                      {day.slice(0, 3)}
                    </li>
                  ))}
                </ul>
              )}
              {trend.term && (
                <span>
                  {trend.term.length > 1 ? "Varios Horarios" : trend.term}
                </span>
              )}
            </div>
          </div>
        </a>
      ))
    }
  </section>
</ServiceSection>
