<h3>Entendemos sus necesidades de reforzar su aprendizaje</h3>
<p>
  Por eso creamos una sección para buscar apoyo en esos cursos que se te
  dificultan
</p>
<ul>
  <li>Estudia entre compañeros</li>
  <li>Ayuda a otros estudiantes</li>
  <li>Comparte tus conocimientos</li>
  <li>Refuerza tus habilidades</li>
  <li>Conecta con otros estudiantes</li>
</ul>
