---
import { CommentsSlider } from "@/components/CommentsSlider";
---

<section class="bg-radial-[at_25%_25%] from-red-500/90 to-zinc-800 to-75% py-24">
  <h2
    class="text-white text-6xl font-bold text-center"
  >
    Muro de Comentarios
  </h2>
  <p class="my-4 text-lg text-center text-white w-1/3 mx-auto">
    Descubre algunos de los comentarios que estudiantes dejan para mejorar
    nuestra plataforma!
  </p>
  <section class="flex flex-wrap gap-5 justify-center py-8">
    <CommentsSlider client:load />
  </section>
</section>
