---
import { CommentsSlider } from "@/components/CommentsSlider";
---

<h2
  class="[&>strong]:text-red-900 [&>strong]:font-bold text-5xl font-bold text-center"
>
  Muro de <strong>Comentarios</strong>
</h2>
<p class="my-4 text-lg text-center text-gray-600 w-1/2 mx-auto">
  Descubre algunos de los comentarios que estudiantes dejan para mejorar nuestra plataforma!
</p>
<section class="flex flex-wrap gap-5 justify-center py-4">
  <CommentsSlider client:load />
</section>
