---
import ArrowDown from "@/assets/chevron-compact-down.svg";
---

<section class="py-16">
  <article class="bg-orange-100 rounded-lg px-8 py-4 flex gap-x-8 border-2 border-red-900">
    <img
      class="w-1/5"
      src="/El_Primo_Skin-Universitario.webp"
      alt="El primo skin universitario"
    />
    <div class="w-full">
      <h1 class="text-4xl font-bold text-red-900 mb-4">
        ¡Escuchamos tus comentarios y sugerencias!
      </h1>
      <h2 class="text-2xl font-semibold mb-2">
        ¡Descubre la nueva sección de Grupos de Estudio!
      </h2>
      <p class="text-lg">
        Por fin un refuerzo para cursos avanzados <strong
          class="italic text-gray-500 font-mono font-extralight"
          >(se estan tardando neta UTP ponte pilas)</strong
        >
      </p>
      <a
        class="bg-red-800/70 text-white font-semibold py-2 px-5 rounded-3xl mt-4 inline-block animate-pulse"
        href="/refuerzos/grupos"
        >Vamooos <ArrowDown class="size-6 inline-block -rotate-90" /></a
      >
    </div>
  </article>
  <h3>Entendemos sus necesidades de reforzar su aprendizaje</h3>
  <p>
    Por eso creamos una sección para buscar apoyo en esos cursos que se te
    dificultan
  </p>
  <ul>
    <li>Estudia entre compañeros</li>
    <li>Ayuda a otros estudiantes</li>
    <li>Comparte tus conocimientos</li>
    <li>Refuerza tus habilidades</li>
    <li>Conecta con otros estudiantes</li>
  </ul>
</section>
