<div class="flex items-center justify-center gap-4 max-w-3xl mx-auto py-16">
  <img src="/El_Primo_Skin-Universitario.webp" alt="" />
  <div class="text-center">
    <p
      class="text-center text-2xl font-semibold [&>span]:text-red-900 [&>span]:font-bold leading-10"
    >
      "Como en el <span>Monumental</span>, la victoria no se negocia, se lucha.
      No te rindas, no te conformes. <span>!Sigue adelante </span>con la misma
      pasión que un hincha de la <span>U!</span>"
    </p>
    <span class="text-gray-600 text-lg">- Frases que El Primo nunca dijo</span>
  </div>
</div>