---
import "@/styles/global.css";

import Asidebar from "@/components/Asidebar.astro";
import Navbar from "@/components/Navbar.astro";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
	  <Navbar/>
	  <Asidebar/>
	
    <main class="mx-auto max-w-5xl mt-8 md:pl-32 px-8">
		<slot />
	</main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
	background-color: rgb(234, 249, 255);
  }
</style>
